<!-- Footer -->

<footer id="footer">
  <div class="container">
    <nav class="row align-items-center">
      <!--<div class="col-lg-2 col-md-6 mx-auto mb-3 mb-lg-0 text-center">
        <a href="{{"/work-with-me" | relative_url }}">Work with Me</a>
      </div>-->
      <div class="col-lg-2 col-md-6 mx-auto mb-3 mb-lg-0 text-center">
        <a href="{{ "/projects" | relative_url }}">Featured Projects</a>
      </div>
      <div class="col-lg-2 col-md-6 mx-auto mb-3 mb-lg-0 text-center">
        <a href="{{"/about" | relative_url }}">About</a>
      </div>
      <div class="col-lg-2 col-md-6 mx-auto mb-3 mb-lg-0 text-center">
        <a href="{{"/contact" | relative_url }}">Contact Me</a>
      </div>
      <div class="col-lg-2 col-md-6 mx-auto mb-3 mb-lg-0 text-center">
        <a href="https://haleyhopperdesign.hbportal.co/app/">Client Login</a>
      </div>
      <div class="col-lg-2 col-md-6 mx-auto text-center">
        <a class="btn btn-primary" href="{{"/inquire" | relative_url }}">Inquire</a>
      </div>
    </nav>
    <hr>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item">
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.pinterest_username %}
          <li class="list-inline-item">
            <a href="https://pinterest.com/{{ site.pinterest_username }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}</p>
      </div>
    </div>
  </div>
</footer>
