---
layout: default
title: Portfolio
background: '/img/bg-portfolio.jpg'
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <!-- Portfolio Full Projects List Sorted by project-date -->
      {% assign projects = site.portfolio | sort: 'project-date' | reverse %}
      {% for post in projects %}
      <div class="col mb-4">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="card h-100 full-portfolio project-preview">
          <img src="{{ post.front-image }}" class="card-img-top" alt="{{ post.front-image-alt }}" />
          <div class="card-img-overlay">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.project-date | date: '%B %Y' }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

<hr>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

       <p>You made it to the end! I'm impressed. Thanks for taking a look.</p>

      </div>
    </div>
  </div>