---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading mb-4">Recent Projects</h2>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
      <!-- Home Recent Portfolio List -->
      {% assign projects = site.portfolio | sort: 'project-date' | reverse %}
      {% for post in projects limit : 4 %}
      <div class="col mb-5">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="card h-100 project-preview">
          <img src="{{ post.front-image }}" class="card-img-top" alt="{{ post.front-image-alt }}" />
          <div class="card-img-overlay">
            <span class="fa-stack fa-2x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-long-arrow-alt-right fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="card-body">      
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.subtitle }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    
    <div class="row">
      <!-- Pager -->
      <div class="col-md-12">
        <div class="clearfix">
          <a class="btn btn-primary" href="{{"/posts" | relative_url }}">View All Portfolio Items &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading mb-4">Recent Posts</h2>
      </div>
      <!-- Home Post List -->
      {% for post in site.posts limit : 2 %}

      <div class="col-md-6 mx-auto blog-posts mb-3">
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <p class="post-subtitle">{{ post.subtitle }}</p>
            {% else %}
            <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>
      </div>

      {% endfor %}

      <div class="col-md-12">
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
      </div>

    </div>
  </div>
