---
layout: default
---

<!-- Page Header -->
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-item-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <p><i class="far fa-calendar-alt"></i>Completed in <strong>{{ page.project-date }}</strong></p>
        <p><i class="fas fa-user-cog"></i>I did <strong>{{ page.work-type }}</strong> work in this project</p>
        <p><i class="fas fa-laptop-code"></i>This work was for a <strong>{{ page.site-type }}</strong></p>
      </div>
      <div class="col-lg-8 col-md-9 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Project</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Project</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
